.App .Cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /*Quando houver a quebra de linha, os conteúdos automaticamente ficam abaixo um do outro*/
}

.App .Button i {
  color: #212121;
  margin-bottom: 10px;
}

.App .Button i:hover {
  color: #ffa100;
}

.Button .Container input {
  background-color: #212121;
  color: #fff !important;
  font-size: 21px;
}

.Button .Container input:hover {
  background-color: #ffa100;
  border: 2px solid #ffa100 !important;
}

.App .Cards .Content img {
  border-radius: 10px;
}

.App .Cards .Content .list ul {
  list-style: none;
  text-align: start;
}

.App .Cards .Content .containerList table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.App .Cards .Content .containerList td,
th {
  border: 1px solid #c4c4c4;
  text-align: left;
  padding: 8px;
}

.App .Cards .Content .containerList tr:nth-child(even) {
  background-color: #dddddd;
}
